* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.logo {
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    background: transparent;
}

.container .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    transition: 1s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f88111;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #f88111;
}